#imaginary_container{
    margin-top:20%; /* Don't copy this */
}

#tometo_logo {
	margin-bottom:10px;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

form {
	margin-bottom:30px;
	padding:0px;
}