<!DOCTYPE html>
<html lang="en">

<head>
  <title>ToMEto</title>
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="../static/css/simplesearch.css" />

    <!-- <script src="../static/js/jquery-1.11.2.js"></script> -->
    <script src="../static/js/simplesearch.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</head>

<body>

<div class="container">
  <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <form action="/simplesearch" method="POST">
              <div id="imaginary_container"> 
                <center> <a href="simplesearch"><img id="tometo_logo" src="../static/img/tometo_burned.png" alt="toMEto" style="width:450px;height:150px;"></a></center>
                <div id="search_box" class="input-group stylish-input-group" style="height:80px;">
                    <input type="text" name="simplesearch" class="form-control" value="{{ query }}" placeholder="Search for more recipes!" required style="font-size:30pt;height:80px;">
                    <span class="input-group-addon">
                        <button id="btnSearch" type="Get Recipes!" style="height:60px;width:40px">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>  
                    </span>
                  
                </div>
              </div>
            </form>
        </div>
  </div>
</div>

<center>
<table>
  {% for x in range(num_results) %}
    <div class="square hoverable">
      <div class="content">
        <div class="table-cell">
          <a href="http://google.com" onclick="alert({{content[x][1]}})"> 
            <span class="normal">{{content[x][0]}}</span>
            <span class="hover">{{content[x][1]}}</span>
          </a>
        </div>
      </div>
    </div>
  {% endfor %}
</table>
</center>

<!--
<head>
<title>JS Bin</title>
  <style>
    .hoverable {
      cursor:default;
      color:#000;
      text-decoration:none;
    }
    .hoverable .hover {
      display:none;
    }
    .hoverable:hover .normal {
      display:none;
    }
    .hoverable:hover .hover {
      display:inline;  /* CHANGE IF FOR BLOCK ELEMENTS */
    }
  </style>
</head>
<body>
  <a href="javascript://" class="hoverable">
    <img src="http://png-2.findicons.com/files/icons/1577/danish_royalty_free/32/forward_button.png" class="normal" border="0" /><img src="http://png-4.findicons.com/files/icons/1577/danish_royalty_free/32/forward_button_white.png" class="hover" border="0" />
  </a>
  
  <a href="javascript://" class="hoverable">
    <span class="normal">Mouse over me!</span><span class="hover">Hello world!!!</span>
  </a>
</body>

-->




</body>
</html>