<!DOCTYPE html>
<html lang="en">

<head>
  <title>ToMEto</title>
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="../static/css/simplesearch.css" />

    <!-- <script src="../static/js/jquery-1.11.2.js"></script> -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <!--<script src="../static/js/simplesearch.js"></script>-->

  <!-- tile fading in script -->
{% for x in range(num_results) %}
   <script>
   $(document).ready(function() {
    $("#tile{{content[x][0]}}").delay({{x}} * 100).fadeIn(500);
   });
   </script>
{% endfor %}


    <!-- loading icon script -->
    <script>
    $(function() {
    $('#btnSearch').click(function() {
        $('#loading_img').show();
    
    });
});
    </script>

   

    <!-- popover 
    <script>
      $(document).ready(function(){
      $('[data-toggle="popover"]').popover();   
       });
    </script>
-->

</head>


<!-- note:
  content[x][0] stores the id
  content[x][1] stores the complements
  content[x][2][0] stores the title
  content[x][2][1] stores the recipe html
-->


<body>

<div class="container">
  <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <form action="/simplesearch" method="POST">
              <div id="imaginary_container"> 
                <center> <a href="simplesearch"><img id="tometo_logo" src="../static/img/tometo_burned.png" alt="toMEto" style="width:450px;height:150px;"></a></center>
                <div id="search_box" class="input-group stylish-input-group" style="height:80px;">
                    <input type="text" name="simplesearch" class="form-control" value="{{ query }}" placeholder="Search for more recipes!" required style="font-size:30pt;height:80px;">
                    <span class="input-group-addon">
                        <button id="btnSearch" type="Get Recipes!" style="height:60px;width:40px">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>  
                    </span>
                  
                </div>
              </div>
            </form>
        </div>
  </div>
</div>



<center>
<div> <img src="../static/img/barload.gif" id="loading_img" style="display:none"/ > </div> </center>

{% for x in range(num_results) %}
  <!-- Modal -->
  <div id="myModal{{content[x][0]}}" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{content[x][2][0]}}</h4>
        </div>
        <div class="modal-body">
          <p>{{content[x][2][0]}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
{% endfor %}

<!-- tiles -->

<center>
<table>
  {% for x in range(num_results) %}
  <div> {{thehtml}} </div>

  <div id="tile{{content[x][0]}}" style="display:none">
    <div class="square hoverable">
      <div class="content">
        <div class="table-cell">
          <header>
            <h1>
              <!--
          <a href="http://cooking.nytimes.com/recipes/{{content[x][0]}}" onclick="MyWindow=window.open('http://cooking.nytimes.com/recipes/{{content[x][0]}}','MyWindow','width=600,height=300'); return false;"> 
          -->
            
            <!-- this one opens up a new window with recipe 
            <a href="http://cooking.nytimes.com/recipes/{{content[x][0]}}" onclick="MyWindow=window.open('http://cooking.nytimes.com/recipes/{{content[x][0]}}','MyWindow','width=600,height=300'); return false;" data-toggle="modal" data-target="#myModal" title="{{content[x][0]}}" data-content="{{content[x][1]}}">{{content[x][0]}}</a>
          -->

            <a href="#" data-toggle="modal" 
                        data-target="#myModal{{content[x][0]}}" 
                        title="{{content[x][0]}}" 
                        </a>
          
            <span class="normal">{{content[x][2][0]}}</span>
            <span class="hover"><img style="width: 100%; padding-top: 20%;" src="../static/img/intro-bg.jpg"/></span>
          </a>
        </h1>
      </header>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</table>
</center>





</body>
</html>