<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/signUp.js"></script>
    <script src="../static/js/addInput.js" language="Javascript" type="text/javascript"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        alert("asdf");
        $("#big_container").fadeIn();
        //$("#btnSignUp").fadeIn("slow");
    });
    </script>

  </head>
 
  <body>
 
    <div class="container" id="big_container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="index">Home</a></li>
            <!-- <li role="presentation"><a href="#">Sign In</a></li> -->
            <li role="presentation" class="active"><a href="#">Ingredients</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">ToMEto App</h3>
      </div>
 
  <!--
      <div class="jumbotron">
        <h1>Bucket List App</h1>
        <form class="form-signin">
        <label for="ing1" class="sr-only">Name</label>
        <input type="ingredient1" name="ing1" id="ing1" class="form-control" placeholder="Ingredient 1" required autofocus>
        <label for="ing2" class="sr-only">Email address</label>
        <input type="ingredient2" name="ing2" id="ing2" class="form-control" placeholder="Ingredient 2" required autofocus>
        <label for="ing3" class="sr-only">Password</label>
        <input type="ingredient3" name="ing3" id="ing3" class="form-control" placeholder="Ingredient 3" required>
         
        <button id="btnSignUp2" class="btn btn-lg btn-primary btn-block" type="button">Get my Ingredients!</button>
      </form>
      </div>
  -->
      <div class="jumbotron">
        <h1> ToMEto ingredients list</h1>
        <form method="POST">
          <div id="dynamicInput">
            Entry 1<br><input type="text" name="myInput1" class="form-control" placeholder="Ingredient" required autofocus>
          </div>
          <input type="button" value="Add another text input" onClick="addInput('dynamicInput');">

          <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Get my Ingredients!</button>
        </form>
      </div>
       
 
      <footer class="footer">
        <p>&copy; ToMEto 2016</p>
      </footer>
 
    </div>
  </body>
</html>