body {
	background: url(../img/tomato_background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

button {
  border: solid 1px somecolor;
  color: #eee;
  border-radius:5px;
 -moz-border-radius:5px;
  background: -moz-linear-gradient(top, #5E5E5E 0%, #474747 51%, #0a0e0a 51%, #0a0809 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5E5E5E), color-stop(51%,#474747), color-stop(51%,#0a0e0a), color-stop(100%,#0a0809));
}
button:hover {
  color: white;
}


#imaginary_container{
    margin-top:20%; /* Don't copy this */
}

#tometo_logo {
	margin-top:10%;
	margin-bottom:5%;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
    opacity: 0.8;
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow: inset 0 0 0.15em green; 
	border-color:#ccc;
	opacity: 0.8;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.white_bg
{
	background-color: #ffffff; 
}

.button {
    padding: 10px 15px;
    background: #4479BA;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

form {
	margin-bottom:30px;
	padding:0px;
}